/* браузер накидывает по умолчанию отступы 
поэтому мы сделаем обнуляющие стили для всех элементов на странице*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

/* добавим стили для класса, который лежит в корне нашего приложения */
.App {
    width: 800px;
}

/* стили для постов */
.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
